In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('http://bit.ly/imdbratings')

In [31]:
long_movie = df.duration >= 200
great_movie = df.star_rating >= 8.0
crime_genre = df.genre == 'Crime'
good_long_crime_movies = df[long_movie & great_movie & crime_genre].copy()
good_long_crime_movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."

In [32]:
df.genre.unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [33]:
western_movie = df.genre == 'Western'
good_movie = df.star_rating >= 6.0
good_western_movies = df[(western_movie) & (good_movie)].copy()
good_western_movies.head().sort_values(by=['duration', 'star_rating'], ascending=False)

,star_rating,title,content_rating,genre,duration,actors_list
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
59,8.5,Django Unchained,R,Western,165,"[u'Jamie Foxx', u'Christoph Waltz', u'Leonardo..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
107,8.3,For a Few Dollars More,APPROVED,Western,132,"[u'Clint Eastwood', u'Lee Van Cleef', u'Gian M..."
119,8.3,Unforgiven,R,Western,131,"[u'Clint Eastwood', u'Gene Hackman', u'Morgan ..."

In [35]:
comedy_movie = df.genre == 'Comedy'
fantasy_movie = df.genre == 'Fantasy'
hilarious_fantasy_movies = df[(comedy_movie) | (fantasy_movie) & (great_movie)].copy()
hilarious_fantasy_movies.sort_values(by='star_rating', ascending=False).head()

,star_rating,title,content_rating,genre,duration,actors_list
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
35,8.6,Modern Times,G,Comedy,87,"[u'Charles Chaplin', u'Paulette Goddard', u'He..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
48,8.5,Dr. Strangelove or: How I Learned to Stop Worr...,PG,Comedy,95,"[u'Peter Sellers', u'George C. Scott', u'Sterl..."
52,8.5,The Great Dictator,APPROVED,Comedy,125,"[u'Charles Chaplin', u'Paulette Goddard', u'Ja..."

In [44]:
horror_mystery_thriller_genre = ['Horror', 'Mystery', 'Thriller']
horror_mystery_thriller_genre_movies = df[df['genre'].isin(horror_mystery_thriller_genre)].copy()
print(horror_mystery_thriller_genre_movies.head().sort_values(by='star_rating', ascending=False))
print(horror_mystery_thriller_genre_movies.shape)

    star_rating        title content_rating    genre  duration  \
38          8.6  Rear Window       APPROVED  Mystery       112
39          8.6       Psycho              R   Horror       109
46          8.5      Memento              R  Mystery       113
57          8.5        Alien              R   Horror       117
62          8.5  The Shining              R   Horror       146

                                          actors_list
38  [u'James Stewart', u'Grace Kelly', u'Wendell C...
39  [u'Anthony Perkins', u'Janet Leigh', u'Vera Mi...
46  [u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan...
57  [u'Sigourney Weaver', u'Tom Skerritt', u'John ...
62  [u'Jack Nicholson', u'Shelley Duvall', u'Danny...
(50, 6)